@using Assignment04_05_MVC.Common
@using Assignment04_05_MVC.Common.Helper
@using Assignment04_05_MVC.Common.Enums
@using Assignment04_05_MVC.ViewModels

@model PersonViewModel
@{
	ViewData["Title"] = "Rookies";


}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<style>
	.form-select {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff%0A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	}
</style>
<div class="container">
	<form action="/Rookies" method="GET">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title mb-3">Rookies</h2>
				@await Html.PartialAsync("~/Views/Rookies/Partial/ActionBar.cshtml")
				@await Html.PartialAsync("~/Views/Rookies/Partial/TablePartial.cshtml",Model)
				@await Html.PartialAsync("~/Views/Shared/Partial/_PaginationViewPartial.cshtml", new PaginationViewModel(Model.PageCount, Model.PageSize, Model.TotalPages, Model.PageNumber))
			</div>
		</div>
	</form>
	@await Html.PartialAsync("~/Views/Shared/Partial/_DeleteModalPartial.cshtml")

</div>

@section Scripts{
	<script>
		$('#pageSize').val(@Model.PageSize);
		$('#gender').val(@Model.GenderParsedData);
		const showFullName = '@Model.DisplayFields' === "FullName";
		$("#showFullName").prop('checked', showFullName);
		if ('@Model.BirthYear' !== '-1') $('#birthYear').val('@Model.BirthYear');

		$('input[name="BirthYearCompare"][value="' + @Model.BirthYearCompareParsedData + '"]').prop('checked', true);

	</script>
	<script src="~/js/person/person-list.js"></script>
	<script src="~/js/person/person-crud.js"></script>
}

