@using Assignment04_05_MVC.ViewModels
@model PersonViewModel
@{
	ViewData["Title"] = "Rookies";

	var genderString = "";
	if (Model.Gender == Gender.Male) genderString = "0";
	else if (Model.Gender == Gender.Female) genderString = "1";

}



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<style>
	.form-select {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff%0A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	}
</style>
<div class="container">
	<form action="/Rookies" method="GET">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title mb-3">Rookies</h2>
				<nav class="navbar navbar-light bg-light justify-content-between mb-3 px-2 rounded">
					<div class="form-inline d-flex align-items-center">
						<div class="input-group w-auto border border-secondary rounded-2">
							<label class="input-group-text bg-white text-secondary border-0" for="Gender">Gender</label>
							<select name="Gender" class="form-select bg-secondary text-white border-0" id="gender">
								<option value="" selected class="bg-white text-black">All</option>
								<option value="0" class="bg-white text-black">Male</option>
								<option value="1" class="bg-white text-black">Female</option>
							</select>
						</div>
						<button onclick="window.location.href='/Rookies?OrderBy=DateOfBirth&IsReverse=false&Limit=1'" 
								class="ms-2 btn btn-outline-info my-2 my-sm-0 d-flex" type="button">
							<span>Get oldest person</span>
						</button>
						
						<!-- Checkbox to Show Full Name Only -->
						<div class="ms-2 d-flex ">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="showFullName" name="showFullName">
								<label class="form-check-label" for="showFullName">
									Show Full Name Only
								</label>
							</div>
						</div>

						<!-- Year Filter Input Group -->
						<div class="ms-5">
							<div class="input-group w-auto border border-secondary rounded-2">
								<label class="input-group-text text-white border-0 bg-secondary" for="birthYear">Year</label>
								<input type="number" class="form-control border-0" id="birthYear" name="birthYear" placeholder="Enter birth year (optional)">
							</div>

							<!-- Year Comparison Radio Buttons -->
							<div class=" d-flex">
								<label for="BirthYearCompare" class="text-white">Filter by year:</label>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="BirthYearCompare" id="greater" value="0">
									<label class="form-check-label" for="greater">Greater</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="BirthYearCompare" id="equal" value="1" >
									<label class="form-check-label" for="equal">Equal</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="BirthYearCompare" id="lower" value="2">
									<label class="form-check-label" for="lower">Lower</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="BirthYearCompare" id="none" value="3" checked>
									<label class="form-check-label" for="none">No filter</label>
								</div>
							</div>
						</div>
						
					</div>
					<div class="form-inline">
						<button type="button" class="btn btn-success"
								onclick="window.location.href='#'">
							@*<i class="bi bi-plus"></i>*@
							<i class="bi bi-person-plus-fill"></i>
							Add new
						</button>
					</div>
				</nav>
				<table class="table table-bordered bg-light">
					<thead>
						<tr class="bg-secondary text-light">
							@{
								if (Model.DisplayFields == "FullName")
								{
									
									<th scope="col">Full Name</th>
									<th scope="col" class="text-center">Action</th>
								}
								else
								{
									<th scope="col">ID</th>
									<th scope="col">First Name</th>
									<th scope="col">Last Name</th>
									<th scope="col">Gender</th>
									<th scope="col">Date Of Birth</th>
									<th scope="col">Phone Number</th>
									<th scope="col">Birth Place</th>
									<th scope="col">Is Graduated</th>
									<th scope="col" class="text-center">Action</th>
								}
							}
						
						</tr>
					</thead>
					<tbody>
						@{
							//var p = Model.Data;
							// var startIndex = Model.PageNumber * Model.PageSize - Model.PageSize;
							foreach (var p in Model.ListPerson)
							{
								<tr class="align-middle">
									@{
										if (Model.DisplayFields == "FullName")
										{
												<td>@(p.FullName)</td>
										}
										else
										{
												<td>@(p.Id)</td>
												<td>@(p.FirstName)</td>
												<td>@(p.LastName)</td>
												<td>@(p.Gender == Gender.Male ? "Male" : "Female")</td>
												<td>@(p.DateOfBirth.ToString("MM/dd/yyyy"))</td>
												<td>@(p.PhoneNumber)</td>
												<td>@(p.BirthPlace)</td>
												<td>@(p.IsGraduated ? "Yes" : "No")</td>
										}
									}
													
									<td class="d-flex justify-content-evenly">
										<button type="button" class="btn btn-outline-primary" onclick="window.location.href='/Student/Details?id=@p.Id'">
											<i class="bi bi-eye"></i>
											Details
										</button>
										<button type="button" class="btn btn-outline-info" onclick="window.location.href='/Student/Edit?id=@p.Id'" style="margin:0 0.5rem 0 0.5rem;">
											<i class="bi bi-arrow-repeat"></i>
											Update
										</button>
										<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="deleteStudent(@p.Id)" >
											<i class="bi bi-trash3"></i>
											Delete
										</button>

									</td>
								</tr>
							}
						}
					</tbody>
				</table>
				<nav aria-label="Page navigation example" class="d-flex justify-content-between">
					<div class="input-group mb-3 w-auto border border-success rounded-2">
						<label class="input-group-text bg-white text-success border-0" for="PageSize">Record per view</label>
						<select name="PageSize" class="form-select bg-success text-white border-0" id="pageSize">
							<option value="5" class="bg-white text-black">5</option>
							<option value="10" class="bg-white text-black">10</option>
							<option value="20" class="bg-white text-black">20</option>
						</select>
					</div>
					<ul class="pagination d-flex justify-content-center">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<i class="text-success bi bi-caret-left"></i>
							</a>
						</li>
						@{

							for (var i = 1; i <= Model.TotalPages; i++)
							{
								if (i == Model.PageNumber)
								{
									<li class="page-item" style="cursor:pointer"><a class="page-link bg-success text-white">@i</a></li>
								}
								else
								{
									<li class="page-item" style="cursor:pointer" onclick="setPageNumber(@i)"><a class="page-link text-success">@i</a></li>
								}
							}
						}
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<i class="text-success bi bi-caret-right"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<input type="number" name="PageNumber" value="@Model.PageNumber" hidden />
		<input type="number" name="Gender" value="@Model.Gender" hidden />
	</form>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Are you sure to remove this?</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					You can not see this information anymore
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="btn-remove">Delete</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>

@section Scripts{
<script>
	$('#pageSize').val(@Model.PageSize);

	$('#gender').val(@genderString);

	const showFullName = '@Model.DisplayFields' === "FullName";
	$("#showFullName").prop('checked', showFullName);

	if('@Model.BirthYear'!==-1) $('#birthYear').val(@Model.BirthYear)


	// $('#BirthYearCompare').val(@Model.BirthYear)


	function setPageNumber(pageNumber){
		$("input[name='PageNumber']").val(pageNumber);
		$('form').submit();
	}

	$('#pageSize').change(function(){
		$("input[name='PageNumber']").val(1);
		$('form').submit();
	});

	$("#showFullName").change(function(){
		if ($(this).is(':checked')) {
				window.location.href = '/Rookies?DisplayFields=FullName'
		}
		else {
				window.location.href = '/Rookies?DisplayFields=*'
		}
	})

	$('input[name="BirthYearCompare"]').change(function () {
			const birthYear = $('#birthYear').val();
			const yearComparison = $('input[name="BirthYearCompare"]:checked').val();
			window.location.href = `/Rookies?BirthYear=${birthYear}&BirthYearCompare=${yearComparison}`
	})

	$('#gender').change(function () {
		$('form').submit();
	});

	//DELETE
	function deleteStudent(id){
		console.log(id)
		$('#btn-remove').click(function(){
			window.location.href="#"+id;
		});

	}

</script>
}

